<%= form_with(model: car, local: true) do |form| %>
  <% if car.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(car.errors.count, "error") %> prohibited this car from being saved:</h2>

      <ul>
      <% car.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :license %>
    <%= form.text_field :license, id: :car_license %>
  </div>

  <div class="field">
    <%= form.label :manufac %>
    <%= form.text_field :manufac, id: :car_manufac %>
  </div>

  <div class="field">
    <%= form.label :model %>
    <%= form.text_field :model, id: :car_model %>
  </div>

  <div class="field">
    <%= form.label :rent_rate %>
    <%= form.text_field :rent_rate, id: :car_rent_rate %>
  </div>

  <div class="field">
    <%= form.label :style %>
    <%= form.select :style, ['Coupe', 'Sedan', 'SUV']%>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location, id: :car_location %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, ['Available', 'Checked_out'] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
