<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @suggestion.model %>
</p>

<p>
  <strong>Manufac:</strong>
  <%= @suggestion.manufac %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
